/* Universal Styles */

body {
    border: dimgray solid 0px;
    font-size: 16px;
    font-family: Roboto, Helvetica, sans-serif;
    text-align: center;
    margin: 0px;
    font-family: Roboto, Geneva, Tahoma, sans-serif;
    font-weight: 300;
}

h1, h2 {
    font-weight: 300;
    text-transform: uppercase;
}

h1 {
    font-size: 2em;
}

h2 {
    font-family: "Open Sans";
    font-weight: 400;
}

section {
    /* margin-bottom: 10px; */
    width: 90%;
    margin: 0 auto 10px auto;
    background-color: #f0ede7;
}

a:link {
    color: #46606B;
}

a:visited {
    color: #e99d7d;
}


.flexbox-center {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border-top: 1px;
    justify-content: center;
}

.flexbox-left {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
}

/**     HEADER      **/
header {
    position: fixed;
    background-color: #abc0c8;
    width: 100%;
    z-index: 100;
    top: 0;
}

#pagetitle {
    font-family: "Monoton";
    letter-spacing: 2px;
    word-spacing: 4px;
    font-size: 50px;
    padding-top: 1em;
}


nav li {
    display: inline-block;
    /* padding: 0 10px;
    border-radius: 15px; */
}

nav a:link, a:visited {
    color: #46606B;
    text-decoration: none;
}


/**        MAIN     **/
.title {
    margin-top: 0px;
    padding: 20px;
    background-color: #e9e3da;
}

a.anchor {
    display: block;
    top: -2.75em;
    visibility: hidden;
}

/**     COLORS      **/
.colorbox {
    margin: 20px;
    min-height: 100px;
    width: 100px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: transparent;
}

.color-info{
    text-align: center;
}

.color-scale {
    display: block;
    height: 50px;
    width: 100px;
    text-align: center;
}

.color-hex {
    text-transform: uppercase;
}

.primary {
    text-align: center;
    flex-direction: row;
    margin-bottom: 10%;  
    height: 100px;
    border-radius: 50%;
}

/* Tan */
.tan .primary {
    background-color: #dad1c2;
}

.tan .tint1 {
    background-color: #e1dace;
}

.tan .tint2 {
    background-color: #e9e3da;
}

.tan .tint3 {
    background-color: #f0ede7;
}

.tan .tint4 {
    background-color: #f8f6f3;
}

/* Teal */
.teal .primary {
    background-color: #46606b;
}

.teal .tint1 {
    background-color: #7b9ca9;
}

.teal .tint2 {
    background-color: #93aeb8;
}

.teal .tint3 {
    background-color: #abc0c8;
}

.teal .tint4 {
    background-color: #cedadf;
}

/* Green */
.green .primary {
    background-color: #547846;
}

.green .tint1 {
    background-color: #85ae75;
}

.green .tint2 {
    background-color: #93b885;
}

.green .tint3{
    background-color: #a2c195;
}

.green .tint4 {
    background-color: #cedfc8;
}
/* Orange */
.orange .primary {
    background-color: #e27c51;
}

.orange .tint1 {
    background-color: #e68c67;
}

.orange .tint2{
    background-color: #e99d7d;
}

.orange .tint3{
    background-color: #edad93;
}

.orange .tint4 {
    background-color: #f6d5c7;
}

/** FONTS **/
.fontbox {
    padding-left: 7px;
    margin-top: 20px;
    min-height: 100px;
    min-width: 20%;
    border-left: 2px solid;
    text-align: left;
    align-items: center;
}

.fontlabel {
    font-size: 1.75em;
}

.fontbox .italic {
    font-style: italic;
}

/* Monoton */
#monoton {
    font-family: "Monoton";
}

/* Open Sans */
#opensans {
    font-family: "Open Sans";
}

#opensans .bold {
    font-weight: 700;
}

/* Roboto */
#roboto {
    font-family: Roboto;
    font-weight: 300;
}

#roboto .bold {
    font-weight: 400;
}

/**     TEXT STYLES     **/
.textbox {
    padding-left: 7px;
    margin-top: 10px;
    min-height: 100px;
    min-width: 20%;
    border-left: 2px solid;
    text-align: left;
    align-items: center;
}


/* Page Title */
.textbox #pagetitle {
    padding-top: 0px;
    margin: 0.25em 0;
}

.textbox .texttype {
    padding-top: 0px;
    margin: 0.25em 0;   
}

/**     BUTTONS     **/
/* Navigation */
.buttonbox {
    margin: 20px;
    /* width: 100px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: transparent; */
}

.button, .navbutton, .buttonorange_light, .buttonorange_dark, .buttonorange_clear , .buttonteal_light, .buttonteal_dark, .buttongreen_clear, .buttongreen_light, .buttongreen_dark{
   border-radius: 15px; 
   padding: 5px 20px;
}
/* Teal Buttons */
.navbutton {
    color: #46606B;
    border: 1px #cedadf solid;
}

.navbutton:hover{
    color: #648A99;
    background-color: #cedadf;
}

.buttonteal_light {
    background-color: #cedadf;
    color: #46606b;
}

.buttonteal_light:hover{
    color: white;
    background-color: #46606b;
}

.buttonteal_dark {
    color: white;
    background-color: #46606b;
    /* border: 1px #cedadf solid; */
}

.buttonteal_dark:hover{
    color: black;
    background-color: #cedadf;
}
/* Green Buttons */
.buttongreen_clear {
    color: #547846;
    border: 1px #cedfc8 solid;
}

.buttongreen_clear:hover{
    color: #547846;
    background-color: #cedfc8;
}

.buttongreen_light {
    background-color: #cedfc8;
    color: #547846;
}

.buttongreen_light:hover{
    color: white;
    background-color: #547846;
}

.buttongreen_dark {
    color: white;
    background-color: #547846;
}

.buttongreen_dark:hover{
    color: black;
    background-color: #cedfc8;
}

/* Orange Buttons */
.buttonorange_clear {
    color: #46606B;
    border: 1px #f6d5c7 solid;
}

.buttonorange_clear:hover{
    color: #e27c51;
    background-color: #f6d5c7;
}

.buttonorange_light {
    background-color: #f6d5c7;
    color: #e27c51;
}

.buttonorange_light:hover{
    color: white;
    background-color: #e27c51;
}

.buttonorange_dark {
    color: white;
    background-color: #e27c51;
    /* border: 1px #cedadf solid; */
}

.buttonorange_dark:hover{
    color: black;
    background-color: #f6d5c7;
}
