/* Universal Styles */
body {
    border: dimgray solid 0px;
    font-size: 17px;
    font-family: Roboto, Helvetica, sans-serif;
}


h1, h2 {
    font-weight: 100;
    text-transform: uppercase;
}

.flexbox-center {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border: 1px solid dimgray;
    /* justify-content: center; */

}

.flexbox-left {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content:left;
}

/**     HEADER      **/
header h1 {
    font-family: Monoton;
    letter-spacing: 2px;
    word-spacing: 4px;
    font-size: 50px;
}

header li {
    display: inline-block;
}

/**  Colors  **/
.colorbox {
    margin: 20px;
    min-height: 100px;
    width: 100px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: transparent;
}

.color-info{
    text-align: center;
}

.color-scale {
    display: block;
    height: 50px;
    width: 100px;
    text-align: center;
}

.color-hex {
    text-transform: uppercase;
}

#primary {
    text-align: center;
    flex-direction: row;
    margin-bottom: 10%;  
    height: 100px;
    border-radius: 50%;
}

/* Tan */
#tan #primary {
    background-color: #dad1c2;
}

#tan #tint1 {
    background-color: #e1dace;
}

#tan #tint2 {
    background-color: #e9e3da;
}

#tan #tint3 {
    background-color: #f0ede7;
}

#tan #tint4 {
    background-color: #f8f6f3;
}

/* Teal */
#teal #primary {
    background-color: #648a99;
}

#teal #tint1 {
    background-color: #7b9ca9;
}

#teal #tint2 {
    background-color: #93aeb8;
}

#teal #tint3 {
    background-color: #abc0c8;
}

#teal #tint4 {
    background-color: #cedadf;
}

/* Green */
#green #primary {
    background-color: #77a565;
}

#green #tint1 {
    background-color: #85ae75;
}

#green #tint2 {
    background-color: #93b885;
}

#green #tint3 {
    background-color: #a2c195;
}

#green #tint4 {
    background-color: #cedfc8;
}
/* Orange */
#orange #primary {
    background-color: #e27c51;
}

#orange #tint1 {
    background-color: #e68c67;
}

#orange #tint2 {
    background-color: #e99d7d;
}

#orange #tint3 {
    background-color: #edad93;
}

#orange #tint4 {
    background-color: #f6d5c7;
}

/** FONTS **/
.fontbox {
    padding-left: 7px;
    margin: 20px 20px 20px 20px;
    min-height: 100px;
    min-width: 20%;
    border-left: 2px solid;
}

.fontlabel {
    font-size: 48px;
}

.fontbox .italic {
    font-style: italic;
}

/* Monoton */
#monoton {
    font-family: "Monoton";
}

/* Open Sans */
#opensans {
    font-family: "Open Sans";
}

#opensans .bold {
    font-weight: 700;
}

/* Roboto */
#roboto {
    font-family: Roboto;
    font-weight: 300;
}

#roboto .bold {
    font-weight: 400;
}